.updatenode__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
  }
  
  .updatenode__controls label {
    display: block;
  }
  
  .updatenode__bglabel {
    margin-top: 10px;
  }
  
  .updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .save__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
  }
  
  .save__controls button {
    margin-left: 5px;
  }

  .triangle-node {
    background-color: "#9ca8b3";
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 50px 80px 50px;
    border-color: transparent transparent #9ca8b3 transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  
  .triangle-node-text {
    text-align: center;
    top: 40px;
    left: -23px;
    position: relative;
    width: 46px;
    height: 46px;
    margin: 0px;
  }

  .layoutflow {
    flex-grow: 1;
    position: relative;
    height: 100%;
  }
  
  .layoutflow .controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 12px;
  }
  
  .layoutflow .controls button:first-child {
    margin-right: 10px;
  }

  .simple-floatingedges {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .simple-floatingedges .react-flow__handle {
    width: 8px;
    height: 8px;
    background-color: #bbb;
  }
  
  .simple-floatingedges .react-flow__handle-top {
    top: -15px;
  }
  
  .simple-floatingedges .react-flow__handle-bottom {
    bottom: -15px;
  }
  
  .simple-floatingedges .react-flow__handle-left {
    left: -15px;
  }
  
  .simple-floatingedges .react-flow__handle-right {
    right: -15px;
  }
  
  .simple-floatingedges .react-flow__node-custom {
    background: #fff;
    border: 1px solid #1a192b;
    border-radius: 3px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 150px;
  }
  
  .react-flow__edge-path {
    stroke: #333;
    stroke-width: 2;
  }
  
  .temp .react-flow__edge-path {
    stroke: #bbb;
    stroke-dasharray: 5 5;
  }

  .text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
  }
  
  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }